.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.ingredients{
    width: 80%;
    height: 70%;
    background-color: rgba(139, 136, 136, 0.21);
    border-radius: 10px;
    text-align: left;
    padding: 20px;
}
.picture img{
    width: 80%;
    height: 70%;
    object-fit: cover;
}
.container{
    margin-top: 60px;
    margin-left: 30px;
}
.ingredients ul{
    list-style-type: none;
}
.ingredients ul img{
    width: 15px;
    height: 14px;
}